.header {
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.header__title {
    font-weight: 900;
    font-size: 26px;
}

.header__right-side {
    display: flex;
    align-items: center; 
}

.header__nav {
    margin-right: 30px; 
}

.header__nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.header__nav-item {
    margin-right: 30px; 
}

.header__nav-item a {
    color: #505F98;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    padding: 10px;
    text-decoration: none; 
    cursor: pointer;
}

.header__nav-item a:hover {
    color: darkblue; 
}

.header__buttons {
    display: flex;
    align-items: center;
    gap: 26px; 
    /* Прибираємо padding: auto */
}

.header__buy-now {
    display: flex; /* Замість display: center */
    justify-content: center; /* Центрування тексту по горизонталі */
    align-items: center; /* Центрування тексту по вертикалі */
    background-color: #FFD166; 
    color: #111B47; 
    width: 104px;
    height: 26px; /* Можливо збільшення висоти для кращого вирівнювання */
    border-radius: 2px; 
    font-size: 12px;
    font-weight: 600;
    cursor: pointer; 
    transition: background-color 0.2s ease; 
    border: none;
    text-decoration: none; /* Прибираємо підкреслення */
}

.header__buy-now:hover {
    background-color: #FFBF00; 
}

.header__learn-more {
    display: flex; /* Додаємо для центрування */
    justify-content: center;
    align-items: center;
    background-color: #111B47; 
    color: white; 
    width: 104px;
    height: 26px; /* Висота для кращого центрування */
    border-radius: 2px; 
    font-size: 12px;
    font-weight: 600;
    cursor: pointer; 
    transition: background-color 0.2s ease; 
    border: none;
    text-decoration: none; /* Прибираємо підкреслення */
}

.header__learn-more:hover {
    background-color: #0056b3;
}



