.apply{
    background: linear-gradient(45deg, #342bb9, #4180ff);
    padding:0;
    margin-top: 0;
}
.cancel{
    margin-top: 0;
    background: red;
}
.filters-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
   
  }
  
  .filters {
    display: flex;
    gap: 15px;
  }
  
  .buttons-container {
    display: flex;
    gap: 10px; /* Відступ між кнопками */
  }
  
  select {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .apply {
    padding: 10px 20px;
  
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .apply:hover {
    background: #45a049;
  }
  
  .cancel {
    padding: 10px 20px;
    background-color: #fe1a1a;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .cancel:hover {
    background-color: #ff7a7a;
  }
  