header {
  display: flex;
  justify-content: space-between; /* Рівномірно розподіляємо контент */
  align-items: center;
  padding: 5px 40px;
  background: linear-gradient(45deg, #031643, #22398d );
  color: #e0e0e0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 40px;
}

.logo h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  background: linear-gradient(90deg, #7cff41, #3388ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.logo i {
  color: #24b365;
  margin-right: 12px;
}

nav {
  display: flex;
  gap: 15px; /* Відступ між елементами навігації */
}

.search-bar {
  display: flex;
  justify-content: flex-end; /* Вирівнюємо праворуч */
}

.search-bar input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

@media (max-width: 768px) {
  header {
    padding: 15px 20px;
    flex-direction: column;
    align-items: center;
  }

  .logo h1 {
    font-size: 2rem;
  }

  nav {
    margin-top: 10px;
  }

  .page-title {
    font-size: 1rem;
  }
}
