.navigation {

    display: flex;
    justify-content: center; /* Центрування меню по горизонталі */
    align-items: center; /* Вирівнювання по вертикалі */
  }
  
  .navigation ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
  }
  
  .navigation ul li {
    margin-right: 30px;
  }
  
  .navigation ul li a {
    text-decoration: none;
    color: #e7e7e7;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 20px;
    transition: background-color 0.3s;
  }
  
  .navigation ul li a.active {
    background: linear-gradient(45deg, #ff6a3a, #ff6189);
    color: #ffffff; /* Активний елемент меню */
  }
  
  .navigation ul li a:hover {
    background: linear-gradient(45deg, #ff6a3a, #ff6189);
    color: #ffffff;
  }
  