
.product-image {
  height: 200px; /* Встановлюємо фіксовану висоту для всіх зображень */
  width: 100%; /* Ширина на 100% від батьківського контейнера */
  object-fit: cover; /* Масштабування зображення з обрізанням для збереження пропорцій */
  margin-bottom: 15px;
  border-radius: 5px;
}

.product-card h3{
  background: linear-gradient(90deg, #1db954, #ff4b2b); /* Градієнт для музичної тематики */
  -webkit-background-clip: text;
  color: transparent;
  font-size: 2 rem;
}
/* Основні стилі для картки продукту */
.product-card {
  background-color: #1e1e1e; /* Темний фон для музичної тематики */
  color: #f1f1f1; /* Світлий текст */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Тінь для картки */
  padding: 20px;
  top:10px;
 
  position: relative;
  
  transition: box-shadow 0.3s ease-in-out;
}

.product-card:hover {
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.5); /* Збільшення тіні при наведенні */
}


.product-description {
  font-size: 20px;
  color: #c7c7c7; /* Легкий сірий відтінок для тексту */
  margin: 10px 0;
  text-align: left;
}

.product-release,
.product-price {
  font-size: 14px;
  color: #d1d1d1;
  margin: 5px 0;
 
}

.product-release{
  text-align: left;
}
.product-price strong {
  color: #ff4b2b;
  font-size: 2rem; /* Яскравий акцент для ціни */
}

/* Стилі для кнопки */
.card-button {
  text-align: center;
  margin-top: 15px;
  padding: 10px 20px;
  background-color: #ff4b2b;
  background-image: linear-gradient(45deg, #002f5b, #138a72);
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s ease, box-shadow 0.2s ease;
}

.card-button:hover {
  background-image: linear-gradient(45deg, #ff6a3a, #ff6189);
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(255, 65, 108, 0.4);
}

.card-button:active {
  transform: scale(0.98);
  box-shadow: 0 3px 6px rgba(255, 65, 108, 0.2);
}

.card-button:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(255, 65, 108, 0.6);
}

/* Стиль для бейджа типу продукту (зверху картки) */
.product-type-badge {
  position: absolute;
  top: -15px;
  left: 20px;
  background-color: #e1f908;
  color: rgb(0, 0, 0);
  padding: 5px 15px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 5px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
